@import 'variables';

section.main-banner {
  .mobile {
    display:none !important;
  }
  @include mobile {
    .mobile {
      display:block !important;
    }
    .desktop {
      display:none !important;
    }
  }
}