@font-face {
  font-family: MuseoSans;
  src: url("../public/fonts/MuseoSans100.otf") format("opentype");
}
@font-face {
  font-family: MuseoSans;
  font-weight: bold;
  src: url("../public/fonts/MuseoSans300.otf") format("opentype");
}
@font-face {
  font-family: DINPRO;
  src: url("../public/fonts/DINPROlight.ttf");
}
@font-face {
  font-family: DINPRO;
  font-weight: bold;
  src: url("../public/fonts/DINPROmedium.ttf");
}