@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;600&display=swap');

@font-face {
  font-family: MuseoSans;
  src: url("../public/fonts/MuseoSans100.otf") format("opentype");
}
@font-face {
  font-family: MuseoSans;
  font-weight: bold;
  src: url("../public/fonts/MuseoSans500.otf") format("opentype");
}
@font-face {
  font-family: DINPRO;
  src: url("../public/fonts/DINPROregular.ttf");
}
@font-face {
  font-family: DINPRO;
  font-weight: bold;
  src: url("../public/fonts/DINPROmedium.ttf");
}