@import 'variables';

section.lines {
  @include flex;
  flex-wrap: wrap;
  background: black;
  
  .line-container {
    @include flex(column, flex-start, center);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    min-width: 50%;
    max-width: 100%;
    flex-grow: 1;

    @include mobile {
      min-width: 100%;
    }

    button {
      @include btn(rgba(0,0,0,.5), white);
      border: 1px solid white;
    }

    .line-image-wrapper {
      width: 300px;
      height: 100px;
      position: relative;
      margin-top: 50px;
      margin-bottom: 10px;
    }

    // Backgrounds
    &.flama {
      background-image: url('/lineas/flama/bg.png');
    }
    &.ring {
      background-image: url('/lineas/ring/bg.png');
    }
    &.infinit {
      background-image: url('/lineas/infinit/bg.png');
    }
    &.party {
      background-image: url('/lineas/party/bg.jpg');
    }
  }
}
