@import 'variables';

nav {
  @include flex(row, flex-start);
  background: $mainDark;
  background: linear-gradient(120deg, $mainDark 0%, $main 100%);
  width: 100%;
  padding: 20px 20px 15px 30px;
  color: white;
  font-family: DINPRO;
  font-size: 18px;

  @include mobile{
    font-size: 14px;
  }
  
  img {
    min-width: 150px;

    @include mobile{
      min-width: 80px;
    }
  }

  .nav-item-container {
    @include flex(row, flex-start);
    flex-grow: 1;
    margin-left: 80px;

    @include mobile {
      margin-left: 30px;
    }

    .nav-item {
      @include flex;
      transition: all .1s ease-out;
      margin-right: 35px;

      @include mobile {
        margin-right: 20px;
        flex-direction: column;
      }

      a {
        margin-right: 5px;
        @include mobile {
          order: 1;
          margin-top: 5px;
        }
      }

      svg {}

      &:hover {
        transform: scale(1.1);
        font-weight: bold;
      }
    }
  }
}