@import 'variables';

main#lineas{
  .text{
    @include flex;
    color: $black;
    h1 {
      font-size: 35px;
      font-family: DINPRO;
      padding-right: 20px;
      border-right: 1px solid $black;
      margin: 20px;
    }
  }
  .line-container {
    height: 200px;
    width: 100%;
    padding-bottom: 30px;
    transition: all .2s ease-out;
    box-shadow: inset 0 0 50px rgba(0,0,0,.5);
    &:hover{
      height: 250px;
    }
  }
}