@import 'variables';

main#buscar {
  @include flex(row, center, flex-start);
  justify-content: space-between;
  align-items: stretch;
  background-color: ghostwhite;
  padding-left: 35px;
  color: $black;
  .inputs {
    @include flex(row, flex-start, center);
    margin-bottom: 10px;
    .query-type, .query-line {
      width: 200px;
      background: white;
      box-shadow: $shadow;
      border: none;
      margin-right: 10px;
    }
    .buscar-input>div {
      background-color: white;
      box-shadow: $shadow;
    }
  }
  h1{
    font-family: DINPRO;
    font-size: 50px;
    margin: 20px 0 30px 0;
  }
  p.no-results {
    color: gray;
  }
  section#buscar-resultados {
    display: flex;
    min-height: 300px;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    padding: 10px 0;
    &>* {
      margin-right: 20px;
      margin-bottom: 20px;
      &:last-of-type{
        margin-right: 0;
      }
    }
  }
  aside.der {
    padding: 20px;
    background-color: white;
    box-shadow: $shadow;
    min-width: 200px;
    h2 {
      font-family: DINPRO;
      margin-bottom: 15px;
    }
  }
}