@import 'variables'

$shadow: 0px 0px 10px rgba(0,0,0,.10)
main.search
  min-height: 700px
  @include flex(row, stretch, stretch)
  @include mobile
    flex-direction: column-reverse
  aside.filters
    width: 25%
    min-width: 350px
    padding: 30px
    background: $black
    box-shadow: $shadow
    @include mobile
      position: sticky
      z-index: 1
      width: 100%
      bottom: 0px
    *
      color: white
    .MuiAutocomplete-popper *
      color: $black
      background: white
    button.mobile-open
      -webkit-tap-highlight-color: transparent
      width: 100%
      margin: -10px 0 15px
      display: none
      border: none
      background: none
      transform: rotate(0deg)
      transition: all .3s ease-out
      &.open
        transform: rotate(180deg)
      svg
        fill: white
      @include mobile
        display: block
    .wrapper
      width: 100%
      transition: all .5s ease-out
      @include mobile
        overflow: hidden
        max-height: 0px
        &.open
          max-height: 999px
      h1
        font-family: DINPRO
        margin-bottom: 30px
        font-size: 40px
        @include mobile
          font-size: 22px
      .MuiInputBase-root
        background: $blackDeg
        box-shadow: $shadow
      .MuiFormControl-root
        margin-bottom: 20px
      button
        @include flex
        svg
          margin-right: 5px
      button.clear-fields
        @include btn($altDeg, white)
        width: 100%
        margin: 15px 0 0 0
        &[disabled]
          opacity: .5
      button.back-to-top
        @include btn(white, $black)
        font-size: 14px
        position: fixed
        bottom: 20px
        right: 20px
        z-index: 99
        opacity: 0
        transition: all .3s ease-out
        @include mobile
          display: none
        svg
          fill: $black
        &.visible
          opacity: 1
  div.products
    @include flex(row, center, flex-start)
    position: relative
    background: $white
    flex-wrap: wrap
    align-content: flex-start
    width: 100%
    gap: 30px
    padding: 50px
    @include mobile
      padding: 60px 0
      min-height: 78vh
    p.results
      color: grey
      position: absolute
      font-size: 14px
      top: 10px
      left: 10px
      @include mobile
        top: 15px
        left: 15px
        font-size: 20px
    &>h2, &>p
      color: white
