@import 'variables'; 

section#prod-specs {
  background-color: lightgray;
  padding: 50px 15%;
  @include mobile {
    padding: 20px;
  }
  .prod-specs-table {
    * {
      color: $black;
    }
    .includes-container {
      @include flex(row, flex-start);
      flex-wrap: wrap;
      margin-bottom: 10px;
      @include mobile {
        align-items: stretch;
      }
      .includes-item {
        @include flex(column, flex-start);
        margin: 10px;
        flex: 1;
        padding: 10px;
        width: 150px;
        border-radius: 4px;
        box-shadow: $shadow;
        p {
          height: 40px;
          @include flex(column, flex-start);
          &::before {
            content: '';
            height: 2px;
            width: 100%;
            border-radius: 100%;
            background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 50%, rgba(255,255,255,1) 100%);
            margin-bottom: 10px;
          }
          font-size: 12px;
          text-align: center;
          margin: 5px 10px;
        }
      }
    }
    &.variants .wrapper {
      @include flex(row, flex-start, center);
      flex-wrap: wrap;
      padding: 0 0 20px 20px;
      gap: 30px;
      width: 100%;
      @include mobile {
        justify-content: center;
        gap: 10px;
        padding: 0;
        .product-card {
          width: 100%;
        }
        .p-name {
          font-size: 14px;
        }
      }
    }
    .table-cell-container {
      background-color: rgb(220,220,220);
      width: 100%;
      @include flex(row, center, stretch);
      flex-wrap: wrap;
      border-radius: 3px;
      border: 1px solid rgb(200,200,200);
      .table-cell {
        @include flex(column, stretch, stretch);
        width: 25%;
        flex-grow: 1;
        border: 1px solid rgb(200,200,200);
        @include mobile {
          width: 50%;
        }
        .title {
          @include flex;
          gap: 10px;
          width: 100%;
          padding: 15px;
          text-align: center;
          font-size: 16px;
          background-color: rgb(230,230,230);
          font-weight: bold;
          margin-bottom: 5px;
          @include mobile {
            height: 80px;
          }
        }
        .desc {
          @include flex;
          height: 100%;
          padding: 10px;
          text-align: center;
          @include mobile {
            text-align: center;
            height: 60px;
          }
        }
      }
      .table-cell.sku {
        * {
          font-family: DINPRO;
          font-weight: bold;
          font-size: 18px;
          margin: 0;
        }
        width: 100%;
        text-align: center;
      }
    }
    .MuiAccordionSummary-root {
      font-weight: bold;
      font-size: 20px;
      text-transform: uppercase;
      .MuiAccordionSummary-content {
        margin-right: 15px;
      }
      * {
        font-family: DINPRO;
        color: $black;
      }
    }

    .download-items {
      @include flex(row, flex-start, center);
      flex-wrap: wrap;
      div.buttons {
        a {
          @include btn($black, ghostwhite);
          border-radius: 4px;
          margin: 0 15px 10px 0;
          @include flex;
          svg {
            color: ghostwhite;
            margin-right: 5px;
            path {
              color: ghostwhite;
            }
          }
        }
      }
      a {
        @include btn($black, ghostwhite);
        border-radius: 4px;
        margin: 0 15px 10px 0;
        @include flex;
        &:hover {
          background-color: $alt;
          transform: translateY(-5px);
        }
        svg {
          color: ghostwhite;
          margin-right: 5px;
          path {
            color: ghostwhite;
          }
        }
      }
    }
  }
}