@import 'variables';

$mult: 0.7;

.product-videos-swiper {
  position: relative;
  .product-videos-slide {
    @include flex;
    background-color: black;
    iframe {
      position: relative;
      z-index: 0;
      width: 1280px * $mult;
      height: 720px * $mult;
      * {
        position: relative;
        z-index: 0;
      }
    }
  }
  .swiper-button-next, .swiper-button-prev {
    top: auto;
    bottom: 100px;
  }
  .swiper-button-prev {
    left: 30px;
  }
  .swiper-button-next {
    right: 30px;
  }
  .swiper-button-prev, .swiper-button-next {
    /* color: $alt; */
    filter: drop-shadow(0px 0px 5px rgba(0,0,0,.2))
  }
}