@import 'variables';

$mult: 0.7;

.product-videos-swiper {
  background-color: black;
  position: relative;
  .product-videos-slide {
    @include flex;
    iframe {
      position: relative;
      z-index: 0;
      width: 1280px * $mult;
      height: 720px * $mult;
      * {
        position: relative;
        z-index: -1;
      }
    }
  }
  .swiper-button-prev {
    left: 30px;
  }
  .swiper-button-next {
    right: 30px;
  }
  .swiper-button-prev, .swiper-button-next {
    z-index: 9;
    top: auto;
    bottom: 30px;
    filter: drop-shadow(0px 0px 5px rgba(0,0,0,.2));
    @include mobile {
      display: none;
    }
  }
}