@import 'variables';

section.top-wrapper {
  div.product-more-photos {
    @include mobile {
      padding-top: 120px;
    }
    user-select: none;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(228, 228, 228, 1) 20%,
      rgba(255, 255, 255, 1) 100%
    );
    div.thumbnails {

      @include flex(row, flex-start);
      flex-wrap: wrap;
      margin: 15px;
      gap: 10px;
      @include pc {
        margin: 45px 50px;
        justify-content: flex-start;
        flex-wrap: wrap-reverse;
        width: 350px;
        position: absolute;
        bottom: 0;
        left: 0;
      }
      button {
        width: 22.5%;
        margin-bottom: -2px;
        border: none;
        background: none;
        transition: all .1s ease-in-out;
        &:hover {
          box-shadow: $shadow;
        }
      }
      span {
        background-color: white;
        border-radius: 5px;
        @include hoverScale;
      }
      img {
        background-color: white;
      }
    }
    div.text {
      position: absolute;
      top: 0;
      left: 0;
      margin: 45px 50px;
      max-width: 400px;
      color: $black;
      h1 {
        font-size: 40px;
        font-family: DINPRO;
      }
      p.sku {
        font-weight: bold;
        font-family: DINPRO;
      }
    }
    div.more-photos {
      width: 550px;
      height: 550px;
      @include mobile {
        width: 400px;
        height: 400px;
      }
      text-align: center;
      --swiper-theme-color: #333;
    }
  }
}