@import 'variables'; 

section#prod-specs {
  background-color: lightgray;
  padding: 50px 125px;
  @include mobile {
    padding: 20px;
  }
  .prod-specs-table {
    * {
      color: $black;
    }
    .includes-container {
      @include flex(row, flex-start);
      flex-wrap: wrap;
      margin-bottom: 10px;
      .includes-item {
        margin: 10px;
        padding: 10px;
        width: 150px;
        height: 160px;
        border-radius: 10px;
        @include flex(column, flex-start);
        box-shadow: $lightShadow;
        p {
          font-size: 13px;
          text-align: center;
          margin-top: 10px;
        }
      }
    }
    &.variants .wrapper {
      @include flex(row, center, center);
      width: 100%;
    }
    .table-cell-container {
      background-color: rgb(220,220,220);
      width: 100%;
      @include flex(row, center, stretch);
      flex-wrap: wrap;
      border-radius: 3px;
      border: 1px solid rgb(200,200,200);
      .table-cell {
        @include flex(column, stretch, stretch);
        width: 25%;
        flex-grow: 1;
        border: 1px solid rgb(200,200,200);
        @include mobile {
          width: 50%;
        }
        .title {
          @include flex;
          gap: 10px;
          width: 100%;
          padding: 15px;
          text-align: center;
          font-size: 16px;
          background-color: rgb(230,230,230);
          font-weight: bold;
          margin-bottom: 5px;
          @include mobile {
            height: 80px;
          }
        }
        .desc {
          @include flex;
          height: 100%;
          padding: 10px;
          text-align: center;
          @include mobile {
            text-align: center;
            height: 60px;
          }
        }
      }
      .table-cell.sku {
        * {
          font-family: DINPRO;
          font-weight: bold;
          font-size: 18px;
          margin: 0;
        }
        width: 100%;
        text-align: center;
      }
    }
    .MuiAccordionSummary-root {
      font-weight: bold;
      font-size: 20px;
      text-transform: uppercase;
      .MuiAccordionSummary-content {
        margin-right: 15px;
      }
      * {
        font-family: DINPRO;
        color: $black;
      }
    }

    .download-items {
      @include flex(row, flex-start, center);
      div.buttons {
        a {
          @include btn($black, ghostwhite);
          border-radius: 4px;
          margin: 0 15px 10px 0;
          @include flex;
          svg {
            color: ghostwhite;
            margin-right: 5px;
            path {
              color: ghostwhite;
            }
          }
        }
      }
      a {
        @include btn($black, ghostwhite);
        border-radius: 4px;
        margin: 0 15px 10px 0;
        @include flex;
        svg {
          color: ghostwhite;
          margin-right: 5px;
          path {
            color: ghostwhite;
          }
        }
      }
    }
  }
}