@import 'variables';

div.top-wrapper {
  div.product-more-photos {
    padding-top: 120px;
    user-select: none;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(228, 228, 228, 1) 20%,
      rgba(255, 255, 255, 1) 100%
    );
    div.thumbnails {
      padding: 20px;
      @include flex(row, space-around);
      gap: 10px;
      @include pc {
        justify-content: flex-start;
        flex-wrap: wrap-reverse;
        max-width: 390px;
        position: absolute;
        bottom: 0;
        left: 0;
      }
      button {
        border: none;
        background: none;
        transition: all .1s ease-in-out;
        &:hover {
          box-shadow: $shadow;
        }
      }
      span {
        background-color: white;
        border-radius: 3px;
        @include hoverScale;
      }
      img {
        background-color: white;
      }
    }
    div.text {
      position: absolute;
      top: 0;
      left: 0;
      padding: 25px;
      color: $black;
      h1 {
        font-size: 30px;
        font-family: DINPRO;
      }
      p.sku {
        font-weight: bold;
        font-family: DINPRO;
      }
    }
    div.more-photos {
      width: 550px;
      height: 550px;
      @include mobile {
        width: 400px;
        height: 400px;
      }
      text-align: center;
      --swiper-theme-color: #333;
    }
  }
}