@import 'variables';

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
* {
  padding: 0;
  margin: 0;
  font-family: MuseoSans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}
a {
  color: inherit;
}