@import 'variables';

html {
  scroll-behavior: smooth;
  body {
    height: 100vh;
  }
} 
* {
  padding: 0;
  margin: 0;
  font-family: MuseoSans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}
a {
  color: inherit;
}
@media (max-width: 850px){
  .pc-only {
    display:none !important;
  }
}
@media (min-width: 850px){
  .mobile-only {
    display:none !important;
  }
}
.d-none {
  display:none;
}
.d-block {
  display:block;
}
.not-visible {
  opacity: 0;
}
.visible {
  opacity: 1;
}
.not-draggable {
  -webkit-user-select: none; /* Safari 3.1+ */ 
  -moz-user-select: none; /* Firefox 2+ */ 
  -ms-user-select: none; /* IE 10+ */ 
  user-select: none; /* Standard syntax */ 
  user-drag: none; 
  -webkit-user-drag: none;
}