@import 'variables';

div#threeSixtyContainer{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(228,228,228,1) 20%, rgba(255,255,255,1) 100%);
  .image-wrapper {
    min-height: 450px;
    position: relative;
    img {
      max-height: 450px;
      @include mobile {
        max-height: 100vw;
      }
    }
  }
  .react-transform-wrapper {
    border-radius: 10px;
    .react-transform-component {
      min-height: 450px;
      align-items: center;
      justify-content: center;
      img.zoom-icon {
        opacity: 0;
        max-width: 100px;
        position: absolute;
        animation: 2s ease-out fade-out forwards;
      }
      img {
        max-height: 450px;
      }
    }
  }
  .controls {
    margin: 20px 0;
    min-width: 300px;
    @include flex(row, center, center);
    flex-wrap: wrap;
    gap: 20px;

    .slider {
      width: 200px;
      margin: 0 30px;
      @include mobile {
        width: 100%;
      }
    }

    .MuiSlider-thumb, .MuiSlider-track {
      transition: none;
    }

    button {
      &.control-button {
        border: none;
        background-color: none;
        box-shadow: $shadow;
        padding: 5px 10px;
        transition: all .2s ease-in-out;
        cursor: pointer;
        border-radius: 2px;
        background-color: #222;
        color: white;
        &:hover {
          background-color: $black;
        }
      }
      &.mui-button {
        margin-top: 3px;
        @include hoverScale;
        border: none;
        background: none;
        box-shadow: none;
        color: black;
        &[disabled]{
          color:grey;
          &:hover {
            color:grey;
          }
        }
        &.play-pause {
          svg {
            width: 38px;
            height: 38px;
          }
        }
        &:hover {
          color: $black;
        }
      }
    }
  }
  .points-of-interest {
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    @include flex(column, flex-start, center);
    img.hl-image {
      width: 100%;
      height: 100%;
    }
    .open-btn {
      position: absolute;
      z-index: 999;
      margin-top: 20px;
      background: none;
      border: none;
      cursor: pointer;
      &.close {
        svg {
          color: $alt;
        }
      }
      svg {
        color:rgb(192, 192, 192);
        opacity: .5;
        width: 50px;
        height: 50px;
        @include hoverScale;
        &:hover {
          opacity: .9;
        }
      }
    }
  }
}