@import 'variables';

div#threeSixtyContainer{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(228,228,228,1) 20%, rgba(255,255,255,1) 100%);
  .image-wrapper {
    img {
      max-height: 450px;
      @include mobile {
        max-height: 100vw;
      }
    }
  }
  .react-transform-wrapper {
    background-color: white;
    border-radius: 10px;
    box-shadow: $lightShadow;
    .react-transform-component {
      img {
        max-height: 450px;
      }
    }
  }
  .controls {
    margin: 20px 0;
    min-width: 300px;
    @include flex(row, center, center);
    flex-wrap: wrap;
    gap: 10px;

    .slider {
      width: 200px;
      margin: 0 30px;
      @include mobile {
        width: 100%;
      }
    }

    .MuiSlider-thumb, .MuiSlider-track {
      transition: none;
    }

    button {
      &.control-button {
        border: none;
        background-color: none;
        box-shadow: $shadow;
        padding: 5px 10px;
        transition: all .2s ease-in-out;
        cursor: pointer;
        border-radius: 2px;
        background-color: #222;
        color: white;
        &:hover {
          background-color: $black;
        }
      }
      &.mui-button {
        margin-top: 3px;
        @include hoverScale;
        border: none;
        background: none;
        box-shadow: none;
        color: black;
        &:hover {
          color: $black;
        }
      }
      &.zoom-active {
        color: $black;
        background-color: white;
        &:hover {
          color: white;
        }
      }
    }
  }
}