@import 'variables', 'mixins', 'nav', 'fonts', 'resets', 'socialcontainer', 'banner', 'swiper', 'linecontainer', 'discoverbanner', 'productcard', 'footer', 'constrictor', 'page_categorias', 'page_lineas', 'youtubeindex', 'categorybanner', 'product', 'notfound', 'page_buscar', 'keyframes', 'threesixty', 'storebutton', 'page_productos', 'spinner', 'productmorephotos', 'productbanners', 'productfeatures', 'productspecstable', 'youtubebanner', 'productvideos', 'categorylineswiper', 'mainbanner', 'categoryswiper';
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';
@import 'swiper/scss/lazy';

section {
  border-bottom: $divider;
}
.swiper-button-prev, .swiper-button-next {
  @include hoverScale;
  &:hover{
    filter:drop-shadow(0 0 3px rgba(0,0,0,.1));
  }
}

/* ******************** */
 form.abcde {
  padding: 50px;
  @include flex(column);
  &>* {
    margin-bottom: 10px;
  }
  button {
    padding: 5px 10px;
  }
 }